In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv', index_col='PassengerId')

In [19]:
df.columns

Index([u'Survived', u'Pclass', u'Name', u'Sex', u'Age', u'SibSp', u'Parch',
       u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [16]:
n = len(df.index)
n

891

Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [62]:
print df['Sex'].value_counts()['male'], df['Sex'].value_counts()['female']

577 314

In [63]:
with open('ml_vor/1_1.txt', 'w') as f:
    f.write("577 314")

Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен).

In [34]:
survived_counts = df['Survived'].value_counts()
float(survived_counts[1])/n

0.3838383838383838

In [64]:
with open('ml_vor/1_2.txt', 'w') as f:
    f.write("38.38")

Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен).

In [35]:
pclass_counts = df['Pclass'].value_counts()
float(pclass_counts[1])/n

0.24242424242424243

In [65]:
with open('ml_vor/1_3.txt', 'w') as f:
    f.write("24.24")

Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [22]:
print df['Age'].mean(), df['Age'].median()

29.6991176471 28.0

In [66]:
with open('ml_vor/1_4.txt', 'w') as f:
    f.write("29.69 28")

Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [24]:
df['SibSp'].corr(df['Parch'])

0.41483769862015563

In [67]:
with open('ml_vor/1_5.txt', 'w') as f:
    f.write("0.41")

Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [55]:
def first_name(row):
    name = row['Name']
    if '(' not in name or 'Miss' in name or 'Mlle' in name:
        return row['Name'].split(',')[1].strip().split()[1]
    return row['Name'].split('(')[1].split()[0]

In [56]:
df['FirstName'] = df.apply(lambda row: first_name(row), axis=1)

In [61]:
df['FirstName'][df['Sex'] == 'female'].value_counts()

Anna          14
Mary          13
Elizabeth     11
Margaret      10
Alice          6
Maria          5
Helen          5
Bertha         5
Marie          4
Augusta        4
Ellen          4
Emily          4
Florence       4
Ada            4
Annie          4
Jane           3
Kate           3
Hanora         3
Ida            3
Lillian        3
Madeleine      3
Catherine      3
Elisabeth      3
Amelia         3
Katherine      3
Edith          3
Mathilde       2
Lucile         2
Mabel          2
Clara          2
              ..
Marguerite     1
Elin           1
Stina          1
Ann            1
Emma)          1
Karolina)      1
Malake         1
Robina         1
Brigdet        1
Helena         1
Carla          1
Anna)          1
Torborg        1
Elise          1
Eliza          1
Alfrida        1
Nourelain      1
Tillie         1
Edwiga         1
Aloisia        1
Gertrude       1
Ingeborg       1
Wendla         1
Ellis          1
Daisy          1
Juliet         1
Sultana)       1
Beila)         1
Margareth      1
Manca          1
Name: FirstName, dtype: int64

In [68]:
with open('ml_vor/1_6.txt', 'w') as f:
    f.write("Anna")

# Assignment 2

#### Инструкция по выполнению

1) Загрузите выборку из файла titanic.csv с помощью пакета Pandas.

2) Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).

3) Обратите внимание, что признак Sex имеет строковые значения.

4) Выделите целевую переменную — она записана в столбце Survived.

5) В данных есть пропущенные значения — например, для некоторых пассажиров неизвестен их возраст. Такие записи при чтении их в pandas принимают значение nan. Найдите все объекты, у которых есть пропущенные признаки, и удалите их из выборки.

6) Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию (речь идет о параметрах конструктора DecisionTreeСlassifier).

7) Вычислите важности признаков и найдите два признака с наибольшей важностью. Их названия будут ответами для данной задачи (в качестве ответа укажите названия признаков через запятую или пробел, порядок не важен).

In [79]:
df_dec = df[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']]
df_dec.dropna(inplace="True")
data = df_dec[['Pclass', 'Fare', 'Age', 'Sex']]
data['Sex'] = df.apply(lambda row: int(row['Sex'] == 'male'), axis=1)
target = df_dec['Survived']

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [80]:
from sklearn import tree

In [81]:
clf = tree.DecisionTreeClassifier(random_state=241)
clf = clf.fit(data, target)

In [82]:
clf.feature_importances_

array([ 0.14000522,  0.30423785,  0.25524472,  0.30051221])

In [83]:
with open('ml_vor/2_1.txt', 'w') as f:
    f.write("Fare Sex")